<md-content flex layout="column" ng-hide="loading">

    <md-card class="user-card md-whiteframe-z2">

        <!--  user-user-card-header  -->
        <div class="user-card-header">

            <div layout="column" layout-align="start stretch" class="user-profile white-text">

                <div class="background-image-container"
                     style="background-image: url('{{user.avatar_url}}')"></div>

                <div class="content text-center" layout="column">
                    <div class="user-profile-picture text-center margin-up-bottom-medium" layout="row"
                         layout-align="center center">
                        <img ng-src="{{user.avatar_url}}" class="md-user-avatar"/>
                    </div>
                    <div class="margin-up-bottom-medium">
                        <span class="md-headline">{{user.name}}</span>
                    </div>
                    <div class="md-subhead" ng-if="user.email">
                        <ng-md-icon icon="email" class="margin-left-right-medium"></ng-md-icon>
                        {{user.email}}
                    </div>
                </div>
            </div>
        </div>


        <!--  user-user-card-header  -->
        <md-content layout="column" class="user-card-body">
            <section>
                <md-subheader class="md-primary">About them</md-subheader>
                <md-list class="info-list">
                    <md-list-item ng-if="!user.info.length">
                        <div class="md-list-item-text">
                            <p>This person has no personal information.</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" md-sticky ng-repeat="item in user.info">
                        <ng-md-icon icon="{{item.icon}}" class="md-avatar-icon"></ng-md-icon>
                        <div class="md-list-item-text">
                            <h3>{{ item.value }}</h3>
                            <p>{{ item.title }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </section>

            <md-divider></md-divider>

            <section>
                <md-subheader class="md-primary">What They're Up To</md-subheader>
                <md-list class="info-list">
                    <md-list-item class="md-2-line" ng-repeat="item in user.stuff">
                        <ng-md-icon icon="{{item.icon}}" class="md-avatar-icon"></ng-md-icon>
                        <div class="md-list-item-text">
                            <h3>{{ item.value }}</h3>
                            <p>{{ item.title }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>

    </md-card>

</md-content>
