// Splash Screen
.splash-screen {
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}


.fade-in-out {
    opacity: 1;
}
.fade-in-out.ng-hide-add,
.fade-in-out.ng-hide-remove {
    transition: all ease-out 150ms;

}
.fade-in-out.ng-hide {
    opacity: 0;
}