#background-div {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 1;
}

#foreground-div {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 2;
}

.desktop-app-container {
  height: 90%;
}

.card-background {
  background-image: url('../images/bg_1.jpg');
  background-size: cover;
  background-position-y: 50%;
}

.css-loader-splash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 4;
}

// Proper Placement of the side nav icons
.md-sidenav-left md-menu-item ng-md-icon {
  margin-right: 10px;
  bottom: 2px;
  position: relative;
}

// Angular Fade Animation
.fade {
  opacity: 1;
}

.fade.ng-enter {
  transition: opacity ease-in-out 350ms;
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: opacity ease-in-out 350ms;
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

// Styling the loading bar
#loading-bar .bar {
  background: #f00;
  height: 3px;
}

// Profile View: List Items: Positioning the icons
.profile-card {
  ng-md-icon {
    position: relative;
    top: -3px;
    margin-right: 15px;
  }
}

.repo-card {

}

md-divider {
  margin: 20px 0;
}

md-grid-tile-footer {
  h3 {
    font-weight: bold !important;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
  }
}