<md-toolbar
        md-scroll-shrink
        class="app-toolbar"
        ng-class="{
            'card-background': $mdMedia('gt-md') == false
        }">
    <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button" aria-label="SideNav" ng-click="openSideNav()" ng-hide="$mdMedia('gt-sm')">
            <i class="material-icons">menu</i>
        </md-button>
        <h2 flex>
            <span ng-bind="$parent.getToolbarTitle()"></span>
        </h2>
        <md-button class="md-icon-button" ng-click="goFullscreen()">
            <i class="material-icons">zoom_out_map</i>
            <md-tooltip md-direction="bottom">
                Go Full Screen
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>