<div layout="column" layout-align="start stretch">

    <div layout="column" layout-padding>
        <md-input-container style="max-height: 0px">
            <label>Search for a user by name...</label>
            <input ng-model="search.query" flex ng-model-options="{debounce: 350}" ng-change="searchUsers()">
            <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
        </md-input-container>
    </div>

    <div layout-padding layout="row" layout-align="space-between center" layout-xs="column"
         layout-align-xs="start stretch" class="search-filters">
        <span class="md-subhead" style="margin-right: 10px;" hide-xs>Filter</span>
        <md-input-container flex style="margin-bottom: 6px;">
            <md-select ng-model="search.sort" md-selected-text="'With the most ' + (search.sort || '...')"
                       ng-change="searchUsers()">
                <md-optgroup label="Search Filters">
                    <md-option ng-value="searchFilter" ng-repeat="searchFilter in searchOptions.filters">
                        {{searchFilter}}
                    </md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container style="margin-top: 18px;">
            <md-switch ng-model="search.order" aria-label="Order By" ng-true-value="'asc'" ng-false-value="'desc'"
                       class="md-primary" ng-change="searchUsers()">
                {{ search.order == 'asc' ? 'Ascending' : 'Descending' }}
            </md-switch>
        </md-input-container>
    </div>

    <md-content layout-padding ng-show="!users.length && !loading" class="no-users-found">
        <h3 class="headline" layout-padding>No users found...</h3>
    </md-content>

    <md-content layout-padding layout="column" layout-align="start stretch">
        <md-grid-list
                md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-lg="5"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile ng-repeat="user in users"
                          md-rowspan="1"
                          md-colspan="1"
                          md-colspan-sm="1"
                          md-colspan-xs="1"
                          class="clickable user-tile"
                          md-whiteframe="2"
                          ui-sref="user({username: user.login})">
                <div blurry-image-load
                     flex
                     large-image="user.avatar_url"
                     small-image="user.avatar_url + '&s=20'">
                </div>
                <md-grid-tile-footer><h3>{{user.login}}</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>