<md-content layout="row" layout-padding>
    <md-input-container flex>
        <label>Filter</label>
        <input ng-model="searchQuery" flex ng-model-options="{debounce: 350}" ng-change="search(searchQuery)">
    </md-input-container>
</md-content>
<md-content layout-padding>
    <md-grid-list
            md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-lg="5"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile ng-repeat="user in users"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      class="clickable"
                      md-whiteframe="2"
                      ui-sref="user({username: user.login})">
            <div blurry-image-load
                 flex
                 large-image="user.avatar_url"
                 small-image="user.avatar_url + '&s=20'">
            </div>
            <md-grid-tile-footer><h3>{{user.login}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>
