#background-div {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 1;
}

#foreground-div {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 2;
}

.desktop-app-container {
  height: 90%;
}

.card-background {
  background-image: url('/src/images/bg_1.jpg');
  background-size: cover;
  background-position-y: 50%;
}

.css-loader-splash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 4;
}

// Proper Placement of the side nav icons
.md-sidenav-left md-menu-item ng-md-icon {
  margin-right: 10px;
  bottom: 2px;
  position: relative;
}

#main-content {
  height: 100%
}

// Angular Fade Animation
.fade {
  opacity: 1;
}

.fade.ng-enter {
  transition: all ease-in-out 350ms;
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: all ease-in-out 350ms;
  opacity: 0;
}

.fade.ng-leave-active {
  opacity: 1;
}

// Styling the loading bar
#loading-bar .bar {
  background: #f00;
  height: 3px;
}

// Profile View: List Items: Positioning the icons
.profile-card {
  ng-md-icon {
    position: relative;
    top: -3px;
    margin-right: 15px;
  }
}

// Splash Screen
.splash-screen {
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  opacity: 1;
}

.users-view-user {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.users-view-user.ng-enter {
  opacity: 0;
}

.users-view-user.ng-enter-active {
  opacity: 1;
}

.users-view-user.ng-leave {
  opacity: 1;
}

.users-view-user.ng-leave-active {
  opacity: 0;
}