<md-content flex layout="row" layout-padding>
    <md-input-container flex>
        <label>Filter</label>
        <input ng-model="searchQuery" flex ng-model-options="{debounce: 350}" ng-change="search(searchQuery)">
    </md-input-container>
</md-content>

<md-content class="md-padding" layout="column">
    <md-card flex-xs="100" flex-gt-xs="40" ng-repeat="repository in repositories">
        <md-card-title>
            <md-card-title-text flex>
                <span class="md-headline">{{ repository.name }}</span>
                <span class="md-subhead" flex>{{ repository.description }}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <div blurry-image-load
                         large-image="repository.owner.avatar_url"
                         small-image="repository.owner.avatar_url + '&s=20'">
                    </div>
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-href="{{repository.html_url}}">Visit The Repo on GitHub</md-button>
            <md-button ui-sref="user({username: repository.owner.login})">Go To Author</md-button>
        </md-card-actions>
    </md-card>

    <!--<div class="md-list-item-text" layout="row">-->
    <!--<div layout="column">-->
    <!--<h3></h3>-->

    <!--<p></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<md-button title="{{repository.owner.login}}"-->
    <!--class="md-icon-button launch">-->
    <!--<ng-md-icon icon="person"></ng-md-icon>-->
    <!--<md-tooltip>-->
    <!--More From {{repository.owner.login}}-->
    <!--</md-tooltip>-->
    <!--</md-button>-->
    <!--<md-button title="{{repository.full_name}}"-->
    <!--class="md-icon-button launch">-->
    <!--<ng-md-icon icon="github-circle"></ng-md-icon>-->
    <!--<md-tooltip>-->
    <!--Open Repository-->
    <!--</md-tooltip>-->
    <!--</md-button>-->
</md-content>