<md-content flex layout="row" layout-padding>
    <md-input-container flex>
        <label>Filter</label>
        <input ng-model="searchQuery" flex ng-model-options="{debounce: 350}" ng-change="search(searchQuery)">
    </md-input-container>
</md-content>

<md-content layout="column" layout-padding>
    <div ng-repeat="repository in repositories | limitTo : 3" layout="column" layout-align="start stretch"
         layout-padding layout-margin md-whiteframe="2">
        <div layout="row" layout-align="space-between stretch">
            <div flex-xs="50" flex-sm="60" flex-md="70" flex-lg="80" layout="column" layout-align="start start">
                <span class="md-headline">{{ repository.name }}</span>
                <span class="md-subhead" style="margin-top: 5px;">{{ repository.description | limitTo : 150 }}</span>
            </div>
            <div flex blurry-image-load
                 layout="column"
                 large-image="repository.owner.avatar_url"
                 small-image="repository.owner.avatar_url + '&s=20'"
                 style="margin:10px;">
            </div>
        </div>
        <div layout="row" layout-align="end end">
            <md-button ng-href="{{repository.html_url}}">Visit The Repo on GitHub</md-button>
            <md-button ui-sref="user({username: repository.owner.login})">Go To Author</md-button>
        </div>
    </div>
</md-content>